@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: rgb(53, 53, 53);
}

* {
    font-size: 36px;
    color: white;
    font-family: 'Outfit';
}

button {
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 55px;
    width: 15vw;
}
.timestamp{
    font-size: 15px;
    color: rgb(102, 102, 102);
}
#name{
    color: rgb(102, 102, 102);
    font-size: medium;
}

#chat-box {
    background-color: rgb(53, 53, 53);
    position: fixed;
    bottom: 10px;
    width: 80vw;
    height: 50px;
    border-color: white;
}

::-webkit-scrollbar {
    width: 0;
}

#del-his {
    padding: 12px;
    background-color: rgb(196, 0, 0);
    color: white;
}