@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: #36393f;
}

* {
  font-size: 24px;
  color: white;
  font-family: "Outfit";
}

textarea {
  resize: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  outline: none;
}

.SendBtn {
  background: #7289da;
  position: fixed;
  bottom: 11px;
  right: 2vw;
  height: 55px;
  width: 55px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  /* color: black; */
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 3px;
  border-radius: 50%;
}
.timestamp {
  font-size: 15px;
  color: rgb(102, 102, 102);
}
#name {
  color: rgb(102, 102, 102);
  font-size: medium;
}

#chat-box {
  background-color: #36393f;
  position: fixed;
  bottom: 10px;
  width: 90vw;
  height: 50px;
  border-color: white;
}

::-webkit-scrollbar {
  width: 0;
}

#del-his {
  padding: 12px;
  background-color: rgb(196, 0, 0);
  color: white;
}
.myMsg {
  background-color: #2f3136;
  text-align: end;
  margin: 8px 8px 8px auto;
  width: fit-content;
  list-style: none;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.yourMsg {
  background-color: #2f3136;
  text-align: start;
  margin: 8px 8px 8px 8px;
  width: fit-content;
  list-style: none;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
